h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-style: normal;
  color: #173b4d;
  text-align: center;
  margin: 2px;
}

hr {
  width: 48px;
  background-color: #36b37e;
  height: 3px;
}

#project-cards {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  grid-gap: 30px;
  margin-top: 62px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ebf0ee;
  text-align: center;
  border: 2px solid hsl(156, 14%, 93%);
  border-radius: 10px;
}

.img_container {
  width: 100%;
  height: 242px;
  background-color: #ebf0ee;
}

.bottom {
  border-radius: 8px;
  background-color: #ffff;
}

h2 {
  font-family: Inter, sans-serif;
  font-weight: 650;
  margin: 4px;
  margin: 2px;
}

.intro {
  margin: 16px;
  padding-top: 16px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 29px;
}

#ruby {
  width: 103px;
  height: 32px;
  border-radius: 4px;
  background-color: #ebf0ee;
  border: none;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

#css {
  width: 45px;
  height: 32px;
  border-radius: 4px;
  background-color: #ebf0ee;
  border: none;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

#js {
  width: 82px;
  height: 32px;
  border-radius: 4px;
  background-color: #ebf0ee;
  border: none;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

button#html {
  width: 51px;
  height: 32px;
  border-radius: 4px;
  background-color: #ebf0ee;
  border: none;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.btn-project {
  width: 122px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 24px;
}

button:hover {
  opacity: 0.6;
}

.text-img {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 24px;
  margin-bottom: 0;
}

.about-head {
  padding-left: 50px;
  font-size: 40px;
}

#description {
  text-align: center;
  font-size: 22px;
  font-family: Inter, sans-serif;
}

.resume,
.touch {
  text-align: center;
}

.btn-resume,
.get-touch {
  width: 159px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  font-size: 17px;
  font-family: Inter, sans-serif;
  margin-top: 24px;
  margin-bottom: 59px;
  font-weight: 500;
}

.about-cards {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  grid-gap: 24px;
}

.about-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  border-radius: 8px;
  text-align: center;
}

#icon_language {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

#language {
  color: #344563;
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin: 0;
}

.languages-list {
  display: flex;
  list-style: none;
  color: #36b37e;
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  padding-bottom: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

#jvscr,
#rub,
#htm,
#cs {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  margin-left: 8px;
}

#bstrap,
#rub-rails,
#spec,
#capy,
#sel {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

#codekit,
#Github,
#codepn,
#gitlab,
#terminal {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.glad-text {
  width: 90%;
  margin: auto;
}

p#texts {
  text-align: center;
  margin-top: 34px;
  font-size: 38px;
  font-family: Inter, sans-serif;
  color: #172b4d;
  font-weight: bold;
}

.inputs {
  text-align: center;
}

input {
  width: 90%;
  height: 48px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d0d9d4;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
}

textarea {
  width: 90%;
  height: 114px;
  outline: none;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  color: black;
}

ul.font-icons {
  list-style: none;
  display: flex;
  justify-content: center;
}

.fab,
.far {
  font-size: 20px;
  color: #505f79;
  margin: 10px;
}

.get-touch {
  margin-bottom: 40px;
}

.email-me {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  color: #42526e;
  margin-bottom: 200px;
}

.blck-line {
  width: 90px;
  background-color: black;
  height: 3px;
}
